.popup {

  display: flex;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  color: #000;

  background: rgba(0, 0, 0, 0.5);

  padding: 123px 19px;
}

@media screen and (min-width: 1280px) {
  .popup {
    padding: 195px 425px;
  }
}
