.popup__content {
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  padding: 25px 22px;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  min-height: 222px;
  max-height: calc(322px - 2*25px);
}

@media screen and (min-width: 680px) {
  .popup__content {
    padding: 34px 36px 37px;
    min-height: 252px;
    max-height: calc(430px - 34px - 37px);
  }
}

