.gallery__like-button {
  all: unset;

  padding: 0 23px 0 0;

  background: url(../../../Images/icons/gallery__like-button.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;

  cursor: pointer;

  height: 22px;
  width: 19px;
  transition: opacity ease-in-out 0.3s;
}

.gallery__like-button:hover {
  opacity: 0.5;
}

.gallery__like-button:active {
  opacity: 1;
}
